*{margin: 0; padding: 0;}
body {
	width: 100%;
	height: auto;
	background: #282728;
}
a{
	text-decoration: none;
	color: #fff;
	transition: all .4s ease;
}

ul > li{
	list-style: none;
	display: inline;
} 
header{
	width: 100%;
	height: 99.5vh;
	background-image: url("../images/guitar-bass-instrument-black-electrically-music.png");
	background-size: 100% 100%;
}
.container{
	width: auto;
	margin: 0 auto;
	max-width: 1000px;
}
.headerBottom{
	top: 94%;
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
	max-height: 50px;
	-webkit-box-shadow: 0px 3px 1px 0px #404040;
	-moz-box-shadow: 0px 3px 1px 0px #404040;
	box-shadow: 0px 3px 1px 0px #404040;
	min-height: 40px;
	background-image: url("../images/skin.png");
}

.playerOneSong{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.playerOneSong .play{
	width: 58px;
	height: 58px;
	cursor: pointer;
	background-image: url("../images/playLastSong.png");
}
.playerOneSong .status{
	width: 70%;
	height: 7px;
	cursor: pointer;
	margin: auto 0;
	background: #282728;
}
.playerOneSong .status .active{
	width: 50%;
	height: 100%;
	background: #B0B0B0;
}
.playerOneSong .time{
	font-size: 18px;
	color: #b0b0b0;
	font-family: 'Myriad Pro Regular', sans-serif;
}
nav{
	height: auto;
	background-image: url("../images/skin.png");
	background-repeat: repeat-x;
	text-align: center;
	margin-top: 10px;
}
.menu{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.menu > li{
	flex: auto;
	position: relative;
	top: -11px;
	bottom: -11px;
}
.menu > .borderNavRight{
	border-right: 1px solid #fff;
}
.menu li a{
	font-family: "Blackadder ITC Regular", sans-serif;
	font-size: 48px;	
}
.menu li a:hover{
  line-height: 1.2;
  text-shadow: 2px 5px 5px #FFFFFF;}
section{
  	width: 100%;
  	//height: auto;
}
.aboutBlock > div{
	display: flex;
  	flex-wrap: wrap;
  	justify-content: flex-start;
}
section > div > #about{
	flex: 1;
	padding: 0 37px 55px;
	border: 1px solid #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
section > div > #about > .part{
	width: 45%;
	margin-top: 10px; 
	margin-bottom: 40px;
	text-align: center;
}
section > div > #about > .part > p{
  font-size: 16px;
  font-family: "Times New Roman", sans-serif;;
  font-style: italic;
  color: #707070;
  line-height: 1.2;
}
section > div > #about > .part > div{	
	max-width: 100%;
	height: auto;
} 
section > div > #about > .part > div> img{
	max-width: 100%;
	display: block;
	height: auto;
} 
section > div > #about > .moreInfo{
	height: auto;
	font-size: 36px;
	color: #000;
	border: 1px solid #000;
	padding: 10px 15px;
	cursor: pointer;
	font-style: italic;
	font-family: "Times New Roman", sans-serif;
	background: #705134;
	margin: 10px auto 0;
}
section > div > #music{
	flex: 1;
	border: 1px solid green;
	
}
section > div > #music > .player{
	width: auto;
	padding: 15px;
	height: auto;
	background: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;	
}
/*section > div > #music > .player > .example{width: 100%;}*/
section > div > #music > .player >  .top_play{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
section > div > #music > .player >  .top_play> .preview{
	width: 60%;
	margin: 15px 0;
	background-repeat: no-repeat!important;
	background-size: 100% 100%!important;
}
section > div > #music > .player >  .top_play> .song{
	width: 40%;
	background: #0F0E0E;
}
section > div > #music > .player >  .top_play> .song> h4{
	font-family: "Blackadder ITC Regular", sans-serif;
	font-size: 34px;
	text-align: center;
	color: #fff;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #6A6768;
}
section > div > #music > .player >  .top_play> .song > ul {overflow-y: auto;}
section > div > #music > .player >  .top_play> .song > ul > li{
	border-bottom: 1px solid #6A6768;
	font-family: "Times New Roman", sans-serif;
	color: #fff;
	cursor: pointer;
	padding: 5px 15px;
	display: block;
	font-size: 14px;
}
section > div > #music > .player >  .panelControle{
	width: 100%;
	background: green;
	display: flex;
	flex-wrap: wrap;
}

.panelVolume > .icon_volume{
	width: 35px;
	height: 35px;
	background-image: url("../images/volume.png");
	background-repeat: no-repeat;
}
.mainControls > .iconPrevious, .mainControls > .iconPrevious{
	height: 35px;
	width: 75px;
	background-repeat: no-repeat;
}
.mainControls > .iconPrevious {background-image: url("../images/previousSong.png");}
.mainControls > .iconPrevious{background-image: url("../images/previousSong.png");}
.mainControls > .iconPlay, .mainControls > .iconPause{
	width: 60px;
	height: 60px;
	background-image: url("../images/playMain.png");
	background-repeat: no-repeat;
}
