*{margin: 0; padding: 0;}
body {
	width: 100%;
	height: auto;
	background: #282728;
}

input[type=range] {
	-webkit-appearance: none; 
	
	background: transparent; 
  }

a{
	text-decoration: none;
	color: #fff;
	transition: all .4s ease;
}

ul > li{
	list-style: none;
	display: inline;
} 
header{
	width: 100%;
	height: 99.5vh;
	background-image: url("../images/guitar-bass-instrument-black-electrically-music.png");
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: auto;
	margin: 0 auto;
	max-width: 1000px;
}


@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

.scrollMouseBottom{
	width: 50px;
}
svg #wheel {
	animation: scroll ease 1.5s infinite;
}


svg,
svg::before,
svg::after {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

/*MOBILE MENU*/

.mobileMenu{	
	position: fixed;
	width: 100%;
	z-index: 3;	
}
.topnav {
	overflow: hidden;
	background: url("../images/skin02.png");
}
.topMobileMenu{
	width: 100%;
	display: flex;
	max-height: 150px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
}

.topMobileMenu .mobileMenuLogo img{
	width: 85%;
}

  .topnav #myLinks {
	display: none;
	width: 100%;
	height: 90vh;
	transition: all.6s ease; 
    -ms-transition: all.6s ease;
 	-o-transition: all.6s ease;
 	-webkit-transition: all.6s ease;
 	-moz-transition: all.6s ease;
  }
  
   #myLinks a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  } 
 
.mainMenu{
	/* position: fixed;
	width: 100%;
	z-index: 2; */
	height: auto;
	background-image: url("../images/skin.png");
	background-repeat: repeat-x;
	text-align: center;
	margin-top: 10px;
	
}
.menu{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.menu > li{
	flex: auto;
	position: relative;
	top: -11px;
	bottom: -11px;
}
.menu > .borderNavRight{
	border-right: 1px solid #fff;
}
.menu li a{
	font-family: "Blackadder ITC Regular", sans-serif;
	font-size: 48px;	
}
.menu li a:hover{
  line-height: 1.2;
  text-shadow: 2px 5px 5px #FFFFFF;}
section{
  	width: 100%;
}
.aboutBlock > div{
	display: flex;
  	flex-wrap: wrap;
  	justify-content: flex-start;
}
section > div > #about{
	flex: 1;
	padding: 0 37px 55px;
	border: 1px solid #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
section > div > #about> h2{
	width: 100%;
	font-family: "Blackadder ITC Regular", sans-serif;
	font-size: 48px;
	text-align: center;
	color: #fff;
	padding-top: 7px;
	padding-bottom: 7px;
	}
section > div > #about > .part{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 0;
	text-align: center;
	border-bottom: 1px solid #707070;
}
section > div > #about > .part > div > p{
  font-size: 16px;
  font-family: "Times New Roman", sans-serif;;
  font-style: italic;
  color: #707070;
  line-height: 1.2;
}
section > div > #about > .part > div{	
	margin: auto;
	height: auto;
} 
section > div > #about > .part > div> img{
	width: auto;
	display: block;
	height: auto;
} 
section > div > #about > .history{
	width: 100%;
	text-align: center;
}
section > div > #about > .history > div{
	display: none;
	transition: all.6s ease; 
    -ms-transition: all.6s ease;
 	-o-transition: all.6s ease;
 	-webkit-transition: all.6s ease;
 	-moz-transition: all.6s ease;
}
section > div > #about > .history > div > p{
	color: #707070;
	padding: 15px 0;
}
section > div > #about > .history >  .moreInfo{
	height: auto;
	font-size: 36px;
	color: #000;
	border: 1px solid #000;
	padding: 10px 15px;
	cursor: pointer;
	font-style: italic;
	font-family: "Times New Roman", sans-serif;
	background: #705134;
	margin: 10px auto 0;
}

section > div > #music{
	flex: 1.5;
	border: 1px solid green;
}
section > div > #music > .player{
	width: auto;
	padding: 15px;
	height: auto;
	background: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;	
}
/*section > div > #music > .player > .example{width: 100%;}*/
section > div > #music > .player >  .top_play{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
section > div > #music > .player >  .top_play> .preview{
	width: 60%;
	margin: 15px 0;
	background-repeat: no-repeat!important;
	background-size: 100% 100%!important;
}
section > div > #music > .player >  .top_play> .song{
	width: 40%;
	background: #0F0E0E;
}
section > div > #music > .player >  .top_play> .song> h4{
	font-family: "Blackadder ITC Regular", sans-serif;
	font-size: 34px;
	text-align: center;
	color: #fff;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #6A6768;
}
section > div > #music > .player >  .top_play> .song > ul {overflow-y: auto;}
section > div > #music > .player >  .top_play> .song > ul > li{
	border-bottom: 1px solid #6A6768;
	font-family: "Times New Roman", sans-serif;
	color: #fff;
	cursor: pointer;
	padding: 5px 15px;
	display: block;
	font-size: 14px;
}
section > div > #music > .player >  .panelControle{
	width: 100%;
	display: flex;
	margin-top: 12px;
	margin-bottom: 12px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.panelVolume, .mainControls{display: flex; align-items: center;}
.panelVolume, #time{margin: 0 5px}

.panelVolume > .icon_volume{
	width: 35px;
	height: 35px;
	margin-right: 12px;
	background-image: url("../images/volume.png");
	background-repeat: no-repeat;
}
.panelVolume > .statusVolume{
	min-width: 90px;
    height: 7px;
    align-self: center;
    border: 1px solid red;}

.iconPrevious,  .iconNext, .playOrPause{
	cursor: pointer;
}
.mainControls > .iconPrevious, .mainControls > .iconNext{
	height: 35px;
	width: 75px;
	background-repeat: no-repeat;
}
.active{font-weight: bold; background: red;}
.mainControls > .iconPrevious {background-image: url("../images/previousSong.png");}
.mainControls > .iconNext{background-image: url("../images/nextSong.png");}
.mainControls > .playOrPause{
	width: 60px;
	height: 60px;
	background-image: url("../images/playMain.png");
	background-repeat: no-repeat;
}
#time{
	align-self: center;
 	color: #656363; 
 	display: block;
    width: 70px;
    text-align: right;
 	font-family: "Blackadder ITC Regular", sans-serif; 
 	font-size: 34px;}
.mainStatus{
    width: 100%;
	height: 5px;	
    border: 1px solid red;
}
.statusVolume::-moz-range-track {
	-webkit-appearance: none;
	height: 1.5rem;
	width: auto;
	border-radius: 0.75rem;
	background: red;
  }
.statusVolume::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
 	width: 15px;
	border-radius: .75rem;
	background: red;
	cursor: pointer;
  }
.mainStatus::-moz-range-track {
	-webkit-appearance: none;
	height: 1.5rem;
	width: auto;
	border-radius: 0.75rem;
	background: red;
  }
  
  .mainStatus::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
 	width: 15px;
	border-radius: .75rem;
	background: red;
	cursor: pointer;
  }